:root {
    --back-ground: #fff;
    --text-color: #000000;
    --box-items: #F1F1F1;
    --font-color-price: #A80000;
    --bf-btn: #DD9304;
    --gray-btn: #D9D9D9;
    --back-ground-item: rgba(217, 217, 217, 0.86);
    --btn-close: #C82400;
    --btn-ok: #618D05;
    --back-popupDate: #FFF8DF;
}


* {
    padding: 0px;
    margin: 0px;
}

/* navbar */

.nav-des {
    background-color: #141618;
    position: sticky;
    /* กำหนดค่า top ติดลบเพื่อให้ Navbar หายไป */
    transition: top 0.5s;
}

.nav-des.active {
    top: 0;
    /* นำ Navbar กลับมาด้านบนของหน้าจอ */
}


.box-all {
    display: flex;
    margin-top: 30px;
    /* justify-content: right;
    align-items: center;
    padding-right: 40px; */
    padding-right: 10px;
}


/* กล่องสินค้า */
.boxitem1 {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    background: var(--box-items);
    width: 990px;
    height: 230px;
    border-radius: 30px;
}

.boxitem2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 27px;
    background-color: var(--box-items);
    width: 990px;
    height: 230px;
    border-radius: 30px;

}

/* กล่องรูปสินค้า */

.img-box {
    flex: 1;
    margin-left: 20px;
}

.item-des {

    flex: 2;
    margin: 18px;
}


.img-box img {
    margin: 18px;
    display: block;
    object-fit: cover;
    border-radius: 30px;

}

/* ช่องสำหรับราคาเเละปุ่มเลือกซื้อเเละกดชอบ */

@keyframes stretch {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.red,
.white {
    animation: stretch 1s ease-out;
    font-size: 40px;
    transition: 1s ease-out;
}

.btn-alls button {
    /* Styles for the button */
    transition: transform 1s ease;
    /* เพิ่ม transition เพื่อทำให้มีการเปลี่ยนแปลงเรื่อยๆ */
}

.btn-alls button:active {
    animation-name: stretch;
    /* เรียกใช้งาน keyframes */
    animation-duration: 1s;
}

.priceproduct {
    flex: 3;
    height: 100%;
}

.priceproducts {
    margin: 0;
}

.priceproducts p {
    float: right;
    text-align: center;
    margin: 55px;
    font-size: 27px;
    font-weight: 700px;
    color: var(--font-color-price);

}

.addbook {
    padding-top: 12px;
    float: right;
    width: 200px;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.btn-addcard,
.faver {
    flex: 1;
    /* แบ่งพื้นที่เท่ากัน */
}

.btn-addcard,
.faver {
    display: flex;
    /* ทำให้เป็น flex */
    justify-content: center;
    /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    align-items: center;
    /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
}

.btn-addcard p {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin: 0;
}

.faver p {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.btn-alls button {
    cursor: pointer;
}

/* ช่องเเสดงรายละเอียด */

.namestore {
    width: 400px;
    margin-left: 5px;
}

.namestore p {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 700;
    white-space: nowrap;
    /* ไม่ตัดข้อความเป็นหลัก */
    overflow: hidden;
    /* ซ่อนข้อความที่เกินขนาด */
    text-overflow: ellipsis;
    /* แสดง ... เมื่อข้อความเกินขนาด */
}

.desproduct {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 200px;
}

/* กล่องจองสินค้า */

.container-box {
    /* position: relative; */
    display: flex;
    width: 100%;
    height: 90vh;
    /* border-top: 1px solid black; */
}


.all-boxs {
    display: flex;
    width: 100%;
    height: 90vh;
}

.area-parking {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.item-boxs {
    margin: 10px;
    width: 500px;
    height: 90px;
}

.boxs {
    padding-left: 50px;
    margin: 100px;
    width: 100%;
    height: 75vh;

}

.item-boxs .regiscar {
    width: 100%;
    height: 100%;
    background-color: var(--bf-btn);
    border-radius: 10px;
    border: none;
}

.item-boxs .regiscar:hover {
    background-color: #D9D9D9;
}

.item-boxs .car {
    border: none;
    background: var(--gray-btn);
    width: 100%;
    height: 90px;
    border-radius: 10px;
}

/* ถ้ามากกว่า 5  */

.boxs-five {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-boxs-five {
    width: 250px;
    height: 80px;
}

.item-boxs-five .regiscar {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--bf-btn);
    border-radius: 10px;
}

.item-boxs-five .car {
    border: none;
    background: var(--gray-btn);
    width: 100%;
    height: 80px;
    border-radius: 10px;
}

.item-boxs-five .regiscar:hover {
    background-color: white;
}

/* มากกว่า 10 */

.boxs-ten {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 1fr);
}

.item-boxs-ten {
    width: 150px;
    height: 50px;
}


/* เพิ่มวันที่ต้องการจอง */
.des-productrecall {

    justify-content: space-between;
    display: flex;
    width: 50%;
    height: 100%;

}

.box-productrecall {
    width: 300px;
    /* padding: 20px; */
    /* border: 1px solid wheat; */
}

.recallproduct-item {
    color: var(--back-ground);
}

.start-item {
    margin-bottom: 20px;
}

.recallproduct-item {
    margin-bottom: 20px;
}

.recallproduct-item .namest {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
    /* ไม่ตัดข้อความเป็นหลัก */
    overflow: hidden;
    /* ซ่อนข้อความที่เกินขนาด */
    text-overflow: ellipsis;
}

.input-item {
    width: 90%;
    margin-top: 10px;
}

.lebel-start label {
    width: 100%;
    color: var(--bf-btn);
}

.lebel-start {
    margin-bottom: 10px;
}

.label-endtime label {
    width: 100%;
    color: var(--bf-btn);
}

.label-endtime {
    margin-bottom: 10px;
}


.input-start {
    border-radius: 25px;
    height: 52px;
}

.input-endtime {
    border-radius: 25px;
    height: 52px;
}

.input-start input {
    border-radius: 25px;
    width: 90%;
    height: 100%;
    border: none;
}

.input-endtime input {
    border-radius: 25px;
    width: 90%;
    height: 100%;
    border: none;
}


input[type="datetime-local"] {
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid var(--bf-btn);
}

/* .input-endtime input[type="datetime-local"]::-webkit-datetime-edit-hour-field {
    width: 100%;
}
.input-endtime input[type="datetime-local"]::-webkit-datetime-edit-minute-field {
    display: none;
} */




/* ปุ่มปิด */

.btn-close {
    cursor: pointer;
    z-index: 4;
    padding-left: 20px;
}

.btn-close button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--bf-btn);
}

.btn-close button img {
    width: 100%;
    height: 100%;
}

.btn-close button:hover {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    /* border-radius: 24px; */
    background-color: var(--bf-btn);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: var(--back-ground);
    cursor: pointer;
}

/* ปุ่มกดจอง */

.button-addproduct {
    margin-top: 20px;
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
}

.button-addproduct button {
    height: 100%;
    width: 200px;
    background-color: var(--bf-btn);
    color: var(--back-ground);
    border-radius: 25px;
}

.button-addproduct button:hover {
    background: none;
    border: none;
    width: 200px;
    height: 100%;
    border-radius: 24px;
    background-color: var(--bf-btn);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: var(--back-ground);
    cursor: pointer;
}

/* popup */
.popup {
    visibility: hidden;
    display: grid;
    place-items: center;
    /* จัดให้เนื้อหาตรงกลาง */
    position: fixed;
    /* ใช้ Fixed Position เพื่อให้คอมโพเนนต์อยู่ตรงกลางของหน้าจอ */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    /* สีพื้นหลังสำหรับแนวโค้ง */
}

.popup.visible {
    visibility: visible;
}

.box-regis {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.regis {
    width: 100%;
    /* height: 100%; */
    color: var(--text-color);
    background-color: var(--text-color);


}

/*หน้าหลัก*/

.container-des {
    height: 100%;
    display: block;
    object-fit: fill;
    /* margin-top: 83px; */
    background-color: var(--back-ground-item);

}

/* จุดบริการ */


.filter-price {
    width: 500px;
    height: 500px;
}

.item-container-service {
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.item-service {
    height: 45px;
}

.item-service button {
    padding: 5px;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--bf-btn);
    color: var(--back-ground);
    cursor: pointer;
}


.item-service button:hover {
    padding: 5px;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--bf-btn);
    box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.25) inset;
    color: var(--back-ground);
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.item-filter-price {
    background-color: var(--box-items);
    height: 180px;
    margin: 10px;
    border-radius: 10px;
}

.item-price-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
}

.item-rang-price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79%;
}

.range {
    width: 200px;
}

.range-input {
    display: flex;
}

.range p {
    text-align: center;
    margin-bottom: 10px;
}

.range input {
    width: 80%;
}

/* ปุ่มต่างๆของรายการ */

.btn-all {
    /* position: relative; */
    margin-top: 10px;
    display: flex;
}


.btn-all button {
    border: none;
    background: var(--bf-btn);
    color: var(--back-ground);
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
}

.btn-addbook {
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 40px;
    padding: 10px;
    background: var(--font-color-price);
    color: var(--back-ground);
}


/* popupDate */

.popupDate {
    display: flex;
    position: absolute;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 100%;
    visibility: hidden;
}


.popupDate.visible {
    visibility: visible;
}

.itempopup-Date {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 230px;
    border-radius: 25px;
    margin: 120px;
    background-color: var(--back-popupDate);

}

.itempopup-Date p {
    margin: 10px;
}

.itempopup-Date input {
    border: 1px solid var(--bf-btn);
    border-radius: 25px;
    height: 50px;
    width: 200px;
}

.btn-Date {
    margin: 10px;
}

.btn-Date button {
    width: 90px;
    height: 30px;
    margin: 10px;
    background: none;
    border: none;
}

.btn-Date .btn-Date-ok {
    border-radius: 9px;
    background-color: var(--btn-ok);
}

.btn-Date .btn-Date-close {
    border-radius: 9px;
    background-color: var(--btn-close);
}