:root{
    --back-ground : #fff ;
    --text-color : #000000 ;
}

.boxitem1{
      border-bottom: 1px solid black;
      border-top:1px solid rgb(0, 0, 0);
      border-left:dotted 3px black ;
      margin-top: 15px ;
      
}
.boxitem2{
    border-bottom: 1px solid black;
    border-top:1px solid black;
    border-left:dotted 3px black ;
    margin-bottom: 10px;
}


.popup {
    visibility: hidden;
    display: grid;
    place-items: center; /* จัดให้เนื้อหาตรงกลาง */
    position: fixed; /* ใช้ Fixed Position เพื่อให้คอมโพเนนต์อยู่ตรงกลางของหน้าจอ */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    overflow: hidden;
   /* สีพื้นหลังสำหรับแนวโค้ง */
}

.popup.visible{
    visibility: visible;
}

.box-regis{
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
}
.regis
{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    color: var(--text-color);
    background-color: var(--back-ground);
    
}
  

