:root {
    --back-ground: #fff;
    --text-color: #000000;
    --box-items: #F1F1F1;
    --font-color-price: #A80000;
    --bf-btn: #DD9304;
    --gray-btn: #D9D9D9;
    --back-ground-item: rgba(217, 217, 217, 0.86);
    --btn-close: #C82400;
    --btn-ok: #618D05;
    --back-popupDate: #FFF8DF;
}


/* popup */
.shopping-card {
    visibility: hidden;
    display: grid;
    place-items: center;
    /* จัดให้เนื้อหาตรงกลาง */
    position: fixed;
    /* ใช้ Fixed Position เพื่อให้คอมโพเนนต์อยู่ตรงกลางของหน้าจอ */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 78px;
}


.item-card {
    width: 100%;
    height: 100%;
    background-color: #141618;
    overflow: scroll;
}

.shopping-card.visible {
    visibility: visible;
}

/* ส่วนตัวพื้นหลัง */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: var(--back-ground);
    height: 320px;
    border-radius: 15px;
}

/* ปุ่มกดออก */
.back-close {
    width: 50px;
    height: 50px;
}

.back-close button {
    border: none;
    background: none;
}

.back-close img {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--bf-btn);
    cursor: pointer;
    margin-left: 30px;
}

.back-close img:hover {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* จัดเนื้อหาทั้งหมดให้อยู่กลางหน้า */
.itemcontentcart {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ทำให้รูปเป็นคอลัมน์ */
.contentcart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    width: 1000px;
}

/* จัดเนื้อให้อยู่ตรงกลางกล่อง */
.content-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.favorite p {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin: 10px;
    white-space: nowrap;
    /* บังคับให้ข้อความไม่ขึ้นบรรทัดใหม่ */
    overflow: hidden;
    /* ซ่อนข้อความที่ล้นออกจากกล่อง */
    text-overflow: ellipsis;
    /* เมื่อข้อความล้นกล่องให้แสดงเป็น ... */
}

.btn-cart {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.btn-cart-booking {
    width: 50px;
    background-color: var(--bf-btn);
    border: none;
    border-radius: 7px;
}

.btn-cart-booking button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-cart-delete {
    width: 50px;
    background-color: var(--btn-close);
    border: none;
    border-radius: 7px;
}


.btn-cart-delete button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
}


/* จัดความกว้างของรูปภาพ */

.images-store{
    margin-left: 4px;
    width: 180px;
    height: 180px;
}

.images-store img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-open {
    border: none;
    background: none;
}